<!DOCTYPE html>
{% extends  'main.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content%}
<body>
<div>
    <form method="POST" action="" >
        {% csrf_token%}
        <label>Username</label>
        <input type="text"  name="username" placeholder="enter username"/>

        <label>Password</label>
        <input type="password"  value="password" placeholder="enter password"/>

        <input type="submit"  value="login"/>

    </form>
</div>
</body>
{% endblock content%}
</html>